table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #2d2d2d;
}

thead {
  background-color: #0f0f0f;
  color: #e0e0e0;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #3a3a3a;
  color: #e0e0e0;
}

tbody tr:hover {
  background-color: #3a3a3a;
}
